# Security Settings
SECRET_KEY=django-insecure-z1jz*fn2y^fi@(@)non20o-w3qejp$
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL)
DB_NAME=stocksense
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

# CORS Allowed Origins (Comma-separated)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Email Service Configuration (SMTP Gmail)
EMAIL_HOST_USER=ronnypatel2005@gmail.com
EMAIL_HOST_PASSWORD=<your_email_password>
DEFAULT_FROM_EMAIL=StockSense <noreply@stocksense.com>

# JWT Lifetime Settings
JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7

# Google OAuth Configuration
GOOGLE_CLIENT_ID=56591381712-1s6r4cen5jh2m3ejm1v74ldt22hquj0k.apps.googleusercontent.com
GROQ_API_KEY=<your_groq_api_key_here>
